		<p>Inspired by the geniuses behind <a href="http://motherfuckingwebsite.com/">motherfuckingwebsite.com</a> and <a href="https://evenbettermotherfucking.website">evenbettermotherfucking.website</a>.</p>
	</body>
</html>
