<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/app.css">
		<title>Clear doc</title>
	</head>
	<body>
		<header>
			<nav class="main-nav">
  				<ul>
    				<li><a href="/" data-hover="Home">Home</a></li>
    				<li><a href="/list" data-hover="List">List</a></li>
    				<li><a href="https://gitlab.com/bbichero/cleardoc" data-hover="Repo">Repo</a></li>
					<li><div class="search">
						<form action="/search">
            						<input type="text" name="search" id="sch" placeholder="Search" required>
							<img class="search-icon" src="/search.png" alt="Girl in a jacket" />
        					</form>
						</div>
					</li>
  				</ul>
			</nav>
		</header>
