h1,h2,h3 {
	line-height: 1.2;
}

body {
	margin: 5% auto;
	background: #f2f2f2;
	color: #444444;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size: 16px;
	text-shadow: 0 1px 0 #ffffff;
	max-width: 80%;
}

ul {
	display: table;
}

ul, li {
	display: flex;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
}

li {
	text-align: left;
	width: 25%;
	display: table-cell;
}

a {
	border-bottom: 1px solid #444444;
	color: #444444;
	text-decoration: none;
}

a:hover {
	border-bottom: 0;
}

.main-nav {
	width: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
	border-bottom: 1px solid #e7e7e7;
}

.main-nav a {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 24px;
}

.main-nav input {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 24px;
}

.main-nav a:active,
.main-nav a:focus,
.main-nav a:hover {
	background-color: transparent !important;
	border-bottom: 0;
}

""""" Search bar """""
.search{
}

.search #sch{
	height: 80%;
	outline: none;
	font-size: 24px;
	transition: 1s linear;
	background: #f2f2f2;
}

.search input:focus{
}

.search input {
	position: relative;
	width: 80px;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom: 1px solid #444444;
}

.search:hover #sch,
#sch:valid{
	width: 90%;
}

.search-icon {
	position: absolute;
	right: 9%;
	height: 24px;
}
""""""""""""""""""""
